@import "../../variable.scss";

.feed-container {
  display: flex;
  flex-direction: column;
  .feed-div {
    height: 100px;
    background-color: $tag-clr;
  }
  .content {
    height: 100%;
    background-color: $bg-clr;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }
  .title-div {
    text-transform: uppercase;
    color: $text-color;
    height: 50%;
    border-bottom: 2px solid $light-blue;
    font-size: 1.2em;
  }
  .date {
    color: gray;
  }
  .name {
    color: $tag-clr;
    font-weight: bold;
  }
  .bottom-div {
      display: flex;
      justify-content: space-between;
  }
}
